style.
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

  * {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }

  html,
  body {
    scroll-behavior: smooth;
  }

  body {
    background: linear-gradient(to left, #262626 0%, #000 100%);
  }

  body.on {
    overflow: hidden !important;
  }

  .btn {
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    padding: 10px 30px;
    height: auto;
    width: auto;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #833ab4;
    background: linear-gradient(to right, #fcb045 0%, #ee0979 100%);
    color: #fff;
    transition: all 0.3s ease;
  }

  .btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .btn span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .btn:hover span {
    padding-right: 25px;
  }

  .btn:hover span:after {
    opacity: 1;
    right: 0;
  }

  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .main {
    height: 100vh;
  }

  .scroll-down {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    animation: scrolldown 1s infinite;
  }
  .scroll-down button {
    border: none;
    cursor: pointer;
    background: none;
  }

  .scroll-down button i {
    font-size: 24px;
  }

  .navbar-nav {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }

  .navbar-toggler {
    display: none;
    position: absolute;
    z-index: 5;
    right: 0;
    top: 0;
    margin: 20px;
  }

  .navbar-toggler i {
    font-size: 30px;
  }

  .navbar-brand {
    display: flex;
    align-items: center;
  }

  .navbar-brand-txt a {
    font-size: 24px;
    letter-spacing: 1px;
    color: #ee0979;
  }

  .navs {
    display: flex;
    align-items: center;
  }

  .navs .navs-item {
    margin: 0px 10px;
    padding: 10px;
    font-weight: bold;
  }

  .navs .navs-item a {
    font-size: 14px;
    color: #ababab;
  }

  .navs .navs-item a:hover {
    color: white;
  }

  .navs .navs-item a button {
    font-size: 14px;
  }

  .navs .navs-item.notbtn {
    margin: 0px 10px;
    transition: 0.3s;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }

  .navs .navs-item.notbtn:hover {
    font-weight: bold;
    background-color: rgb(0, 0, 0, 0.3);
  }
  .navs .navs-item.notbtn:focus {
    font-weight: bold;
    background-color: rgb(0, 0, 0, 0.1);
    border-radius: 4px;
  }

  .navs-item .btn {
    font-weight: bold;
  }

  .main-body {
    margin-top: 100px;
  }

  .main-body-items {
    display: flex;
    justify-content: space-between;
  }

  .main-body-items .main-body-item {
    max-width: 450px;
  }

  .main-body-items .main-body-item img {
    border-radius: 50%;
    width: 300px;
    height: auto;
  }

  .main-body-item .main-body-t {
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    width: 100%;
  }

  .main-body-item .main-body-t b {
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    width: 100%;
    color: #ee0979;
  }

  .main-body-item .main-body-d {
    margin-top: 15px;
    font-size: 20px;
    color: #ababab;
  }

  .main-body-item .main-body-buttons {
    margin-top: 30px;
  }

  .main-body-item .main-body-buttons button {
    margin: 10px 5px;
  }

  @keyframes scrolldown {
    20% {
      transform: translateY(0px);
    }
    40% {
      transform: translateY(10px);
    }
  }

  .shadow-sm {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.54);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.54);
  }

  .shadow-sm-2 {
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.54);
    -webkit-box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.54);
  }

  .shadow-md {
    box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.52);
    -webkit-box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.52);
  }

  .shadow-md-2 {
    box-shadow: 4px 4px 40px 5px rgba(0, 0, 0, 0.52);
    -webkit-box-shadow: 4px 4px 40px 5px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 4px 4px 40px 5px rgba(0, 0, 0, 0.52);
  }

  .txt-uppercase {
    text-transform: uppercase !important;
  }

  .txt-bold {
    font-weight: bold !important;
  }

  .txt-bold .type-1 {
    font-weight: 900;
  }

  .loading {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    z-index: 15;
    align-items: center;
    transition: 0.5s;
  }

  .loading.off {
    transform: translateX(101%);
  }

  .loading-item {
    border: 4px solid white;
    border-radius: 30px;
    height: 35px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    transition: 1s;
  }

  .loading-progress {
    background-color: white;
    width: 100%;
    max-width: 400px;
    display: block;
    animation: loadingprogress 1.5s;
  }

  @keyframes loadingprogress {
    0% {
      width: 0%;
    }
    5% {
      width: 2%;
    }
    7% {
      width: 10%;
    }
    10% {
      width: 20%;
    }
    25% {
      width: 25%;
    }
    50% {
      width: 50%;
    }
    60% {
      width: 70%;
    }
    80% {
      width: 75%;
    }
    100% {
      width: 100%;
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;
    transition: 1s ease;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 1s ease;
    border-radius: 5px;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.5s ease;
  }

  .dropdown-content:hover {
    font-weight: bold;
    background-color: rgb(0, 0, 0, 0.9);
  }
  .dropdown-content:focus {
    font-weight: bold;
    background-color: rgb(0, 0, 0, 0.9);
    border-radius: 4px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    transition: 0.5s ease;
  }


doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='icon' type='image/png' href='./img/logo.svg')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css' integrity='sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==' crossorigin='anonymous' referrerpolicy='no-referrer')
  title #{title}
body 
  main.main
    .navbar
      .container
        .navbar-nav
          .navbar-brand
            span.navbar-brand-txt
              a.txt-bold.type-1(href='/') Bot Creator ✨
          span#toggler.navbar-toggler
            i.fas.fa-bars(onclick='toggleNavbar(this)')
          #navs.navs
            .navs-item.notbtn
              a.txt-uppercase(href='/invite') Invite
            .navs-item.notbtn
              a.txt-uppercase(href='/support') Support
            .navs-item
              - if (!user && !user?.id) {
              a(href='/login')
                button.btn.txt-uppercase.shadow-sm
                  span Join
              - } else {
              - let av = `https://cdn.discordapp.com/avatars/${user?.id}/${user?.avatar}.png?size=24`
              - let av2 = client.user.avatarURL();
              - let pathOne = `/profile/${user?.id}`
              - let pathTwo = `/profile/${user?.id}/bots`
              a(href='/logout')
                .dropdown
                  button.btn.txt-uppercase.shadow-sm
                    span Leave
                  .dropdown-content
                    img(src=av style="border-radius: 50%;")
                    |  #{user.username}
                    a(href=pathOne) Profile
                    a(href=pathTwo) Bots
              - }
    .main-body
      .container
        .main-body-items
          .main-body-item
            span.main-body-t
              b Bot Creator ✨
            p.main-body-d
              | create and build your own discord bot super easy with just one click,
              | add codes and projects for your token with few steps
            .main-body-buttons
              button.btn(onclick="location.href='#more'")
                span More
              button.btn.blue(onclick="location.href="+ `${user ? `\'/profile/${user ? user.id : 0}/bots\'` : '\'/login\''}`)
                span Create
          .main-body-item
            img(src="https://cdn.discordapp.com/avatars/953733938822664232/a15cd88ed57a96be5213aa63bdb7661d.png?size=1024" alt='image')
    span.scroll-down
      button(onclick='scrollDown()')
        i.fas.fa-arrow-down